<div data-settingtabs-target="panel" data-panel-id="general" class="tab-panel form-grid">
	<div class="form-row">
		<div class="form-grid grid-2">
			{{ form_row(form.siteName) }}
			{{ form_row(form.siteUrl) }}
		</div>
		{{ form_row(form.siteDescription) }}
		<div class="form-grid grid-2">
			{{ form_row(form.adminEmail) }}
			{{ form_row(form.timezone) }}
		</div>
	</div>
</div>
