{% import 'admin/macros/_settings_macros.html.twig' as macros %}

<div data-settingtabs-target="panel" data-panel-id="security" class="tab-panel space-y-6">
	<div class="space-y-4">
		{{ macros.toggle_row(form.enableRegistration, 'Autoriser les inscriptions', 'Permettre aux nouveaux utilisateurs de créer un compte') }}
		{{ macros.toggle_row(form.requireEmailVerification, 'Vérification email obligatoire', 'Exiger la vérification de l\'email lors de l\'inscription') }}
		{{ macros.toggle_row(form.enableTwoFactor, 'Authentification à deux facteurs', 'Activer la 2FA pour les administrateurs') }}
	</div>
	<div class="form-row">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
			{{ form_row(form.sessionTimeout) }}
			{{ form_row(form.maxLoginAttempts) }}
		</div>
	</div>
</div>
